@font-face {
    font-family: "Norse Bold";
    src: url('norse/Norsebold.otf') format('opentype');
}

body {
    display: flex;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.left {
    box-sizing: border-box;
    width: 35%;
    height: 100vh;
    background: no-repeat center/120% url("halie-west-25xggax4bSA-unsplash.jpg");
}

.right {
    box-sizing: border-box;
    width: 65%;
    height: 100vh;
}

.right h3 {
    width: clamp(45ch, 62%, 75ch);
    margin-top: 0;
}

.top {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 35%;
    padding: 2.5rem;
    justify-content: flex-end;
    background-color: rgba(249, 250, 251, 1);
}

.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 30%;
    padding: 1rem 2.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position:relative;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    column-gap: 4rem;
    border: none;
    margin: 0;
    padding: 0;
    width: 520px;
}

.box {
    display: flex;
    flex-direction: column;
    width: calc(40% - .5rem);
    flex-shrink: 0;
    flex-grow: 0;
}

label {
    font-size: .6rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: .1rem;
}

input {
    border: none;
    /*reset browser styling*/

    height: 1.4rem;
    /* width: 100%; */
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input:invalid {
    border-color: red;
}

input:focus {
    outline: 1px solid blue;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.bottom {
    box-sizing: border-box;
    height: 35%;
    background-color: rgba(249, 250, 251, 1);
    padding: 2rem 2.5rem;
}

button {
    width: 180px;
    height: 38px;
    border: none;
    border-radius: 8px;
    background-color: #596D48;
    color: hsla(0, 0%, 100%, 0.9);
    font-weight: 600;
    box-shadow: 2px 2px 6px rgb(0,0,0,.2);
}

p {
    font-size: .85rem;
    margin-top: 2rem;
}

a {
    text-decoration: none;
    color: #596D48;
    font-weight: 600;
}